
convergence_testing_2024-03-13/
results/spike_analysis/
results/regression_test_original/
results/simulation_validation
results/simulation/
results/html/
results/supplemental/
**/archive
**/.ipynb_checkpoints
**/hssp-3.1.5
**/*.pkl

# Python
__pycache__/

# Snakemake
.snakemake/
logs/

# Pixi
.pixi/
